.custom-button {
  background-color: rgb(128, 198, 223);
  color: #fff !important;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button:hover {
  background-color: #f90;
  color: #fff !important;
  border: #f90;
}
