.choose-course {
  margin: 16px;
  padding: 2rem;
  display: flex;
  background-color: rgb(227, 235, 237);
}

.section-course {
  margin: 1rem;
  width: 80%;
}

.heading-container {
  margin: 16px 0 0 0;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.search-input {
  width: 20%;
}

.section-title-course {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 8px;
}

.section-content {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.fields-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 64px;
}

.field-btn {
  background-color: #f6f8fa;
  color: rgb(10, 10, 10);
  border-radius: 20px;
  border: 0px;
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.field-btn:hover {
  background-color: #264f79;
  color: rgb(252, 249, 249) !important;
}

.field-label {
  text-align: center;
}

.see-more-btn {
  background-color: rgb(128, 198, 223);
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-more-btn:hover {
  background-color: #264f79;
  color: #fff !important;
}
@media screen and (max-width: 600px) {
  .choose-course {
    flex-direction: column;
    align-items: flex-start;
  }

  .fields-container {
    width: 100%;
  }
}
.hover-card {
  position: relative;
  transition: border 0.3s ease-in-out;
  border: 2px solid transparent;
}

.hover-card:hover {
  animation: border-move 2.5s infinite alternate;
  z-index: 500;
  border: 3px solid #f90;
}

@keyframes border-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
