/* styles.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  height: 5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s ease-in-out; /* Add a transition for smooth scaling */
}

.logo:hover {
  transform: scale(
    1.1
  ); /* Scale the logo on hover (adjust the scale factor as needed) */
}

.logo-image {
  max-width: 100px; /* Adjust the width as needed */
  max-height: 4.5rem; /* Adjust the height as needed */
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  flex-wrap: wrap;
  align-items: center;
}
